ADFDemo/pipeline/AZ_HDInsight_pipeline.json
{
	"name": "AZ_HDInsight_pipeline",
	"properties": {
		"activities": [
			{
				"name": "List All Files From Input files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AZ_ListAllFiles_DS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemType",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter file name",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "List All Files From Input files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Files From Input files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Iterating Multiple Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter file name').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Read File Content",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "AZ_ReadSingleFileContent_DS",
									"type": "DatasetReference",
									"parameters": {
										"dynamicfilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"inputfilelocation": {
				"type": "string"
			},
			"outputfilelocation": {
				"type": "string"
			}
		},
		"folder": {
			"name": "HDInsight_Hive_Integration"
		},
		"annotations": []
	}
}