ADFDemo/pipeline/getmetadatapipeline.json
{
	"name": "getmetadatapipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceFile",
						"type": "DatasetReference",
						"parameters": {
							"inputfile": "SalesCategory.csv"
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"exists",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SP_GetFileMetadata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[STORE_FILEMETADATA]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('Get Metadata').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastModifiedDate": {
							"value": {
								"value": "@activity('Get Metadata').output.lastModified",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecInsertDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Az_SQL_DB_LS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}